﻿body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Tahoma;
    font-size: 13px;
}
.clear {
    clear: both;
}
#loading {
    display: none;
}
#process-observer {
    
}
#process-observer .title {
    font-size: 14px;
    font-weight: bold;
}
#process-observer .list-group span {
    padding: 5px;
    font-weight: bold;
}
#missing-required-columns span{
    color:red;
}