@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L
@model ContactImporter.Data.Entities.FileProcessStats

<h1>@L["ImportExcel"]</h1>
@{ var fileIsProcess = Model != null && Model.IsProcessFinished == 0;}
<p id="upload-file-elements" style="@(Model != null ? "display: none" : "")">
    <input id="file-input" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" type="file" />
    <div id="upload-progress" style="display: none;">0%</div>
</p>
<div id="process-observer" class="row" style="@(Model != null ? "" : "display: none")">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <span id="file-process-finished-title" class="title" style="@(Model != null && Model.IsProcessFinished == 0 ? "display: none" : "")">@L["FileProcessFinished"]</span>
                <span id="file-is-processing-title" class="title" style="@(Model != null && Model.IsProcessFinished == 1 ? "display: none" : "")">@L["FileIsProcessing"]</span>
                <img id="process-loading-icon" src="~/img/loading.gif" style="@(Model != null && Model.IsProcessFinished == 1 ? "display: none" : "")"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group" id="process-stats">
                    <li class="list-group-item" id="row-count">@L["RowCount"]:<span>@(Model != null ? Model.RowCount.ToString() : "--")</span></li>
                    <li class="list-group-item" id="processed-row-count">@L["ProcessedRowCount"]:<span>@(Model != null ? Model.ProcessedRowCount.ToString() : "--")</span></li>
                    <li class="list-group-item" id="success-processed-row-count">@L["SuccessProcessedRowCount"]:<span>@(Model != null ? Model.SuccessProcessedRowCount.ToString() : "--")</span></li>
                    <li class="list-group-item" id="uncorrect-processed-row-count">@L["UncorrectProcessedRowCount"]:<span>@(Model != null ? Model.UncorrectProcessedRowCount.ToString() : "--")</span></li>
                    <li class="list-group-item" id="extra-columns">@L["ExtraColumns"]:<span>@(Model != null ? string.Join(", ", Model.ExtraColumns) : "--")</span></li>
                    <li class="list-group-item" id="missing-columns">@L["MissingColumns"]:<span>@(Model != null ? string.Join(", ", Model.MissingColumns) : "--")</span></li>
                    <li class="list-group-item" id="missing-required-columns">@L["MissingRequiredColumns"]:<span>@(Model != null ? string.Join(", ", Model.MissingRequiredColumns) : "--")</span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div style="@(Model != null && Model.IsProcessFinished == 1 ? "" : "display: none")" id="upload-new-file" class="btn btn-default" onclick="fileWorker.uploadNewFile()">@L["UploadNewFile"]</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class=" col-md-12">
        <div style="@(Model != null ? "display: none" : "")" id="start-upload-btn" class="btn btn-default" onclick="fileWorker.startUpload()">@L["Import"]</div>
    </div>
</div>
<script>var fileIsProcess = @(Model != null && Model.IsProcessFinished == 0 ? "1" : "0")</script>
<script src="~/js/fileWorker.js?v=0.1"></script>