@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L
@*@model IList<ContactImporter.Data.Entities.Contact>*@

<h1>@L["ContactList"]</h1>
<table class="table" id="contact-list">
    <thead>
        <tr>
            <th>@L["ID"]</th>
            <th>@L["FullName"]</th>
            <th>@L["PhoneNumber"]</th>
            <th>@L["Email"]</th>
            <th>@L["PostIndex"]</th>
            <th>@L["Region"]</th>
            <th>@L["City"]</th>
            <th>@L["CityAddress"]</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </tbody>
</table>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="~/js/contactList.js?v=0.1"></script>
